body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #444;
}

.page-title {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 2rem;
    color: #fff;
    text-align: center;
}

.album-info {
    padding: 1rem;
    text-align: center;
}

.album-info-item {
    font-size: 1.2rem;
    margin-top: 0;
    color: #ddd;
}

.album-info-value {
    font-weight: bold;
    font-size: 1.2rem;
    color: #fff;
}

.album-image {
    margin: 2rem 0;
    text-align: center;
}

.album-image img {
    width: 50%;
    height: auto;
}

.album-actions {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 2rem;
    transition: background-color 0.3s ease-in-out;
    margin: 0 1rem;
}

.button:hover {
    background-color: #3e8e41;
}

.delete {
    background-color: #F44336;
}

.delete:hover {
    background-color: #da190b;
}