body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(49, 47, 47, 0.37);
}

.album-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.album-details {
    flex-basis: 30%;
    margin-right: 2%;
}

.album-details h1 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
}

.album-info p {
    margin-bottom: 10px;
}

.album-actions {
    margin-top: 30px;
}

.album-actions a {
    margin-right: 10px;
}

.album-image {
    flex-basis: 35%;
    margin-right: 2%;
}

.album-image img {
    max-width: 100%;
    height: auto;
}

.comments-section {
    flex-basis: 35%;
}

.comments-section h1 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
}

.comments-section form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.comments-section form input[type="text"],
.comments-section form textarea,
.comments-section form input[type="number"] {
    margin-bottom: 10px;
}

.comments-section form input[type="submit"],
.comments-section form a {
    margin-top: 10px;
}