<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADD ALBUM</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div>
    <form action="/album/{{album.id}}/edit" method="post">

        <p>Artist:</p>
        <input type="text" name="artist" value="{{#artist}}{{.}}{{/artist}}">

        <p>Title:</p>
        <input type="text" name="title" value="{{#title}}{{.}}{{/title}}">

        <p>Year:</p>
        <input type="number" name="year" value="{{#year}}{{.}}{{/year}}">

        <p>Description:</p>
        <textarea name="text" rows="5" cols="40"></textarea>

        <p>Image:</p>
        <input type="file" name="image" accept=".jpg, .jpeg" value="{{image}}{{.}}{{/image}}">

        <input type="submit" value="Save" class="button">
        <a href="/" class="button">Cancel</a>

    </form>
    </div>
</body>