<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDIT ALBUM</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

    <h1>Edit Album</h1>

    <form action="/album/{{album.id}}/edit" method="post" enctype="multipart/form-data">

        <p>Artist:</p>
        <input type="text" id="artist" name="artist" value="{{#album.artist}}{{.}}{{/album.artist}}" required><br>

        <p>Title:</p>
        <input type="text" id="title" name="title" value="{{#album.title}}{{.}}{{/album.title}}" required><br>

        <p>Release Year:</p>
        <input type="number" id="release_year" name="release_year" value="{{#album.release_year}}{{.}}{{/album.release_year}}" min="1000" max="2024" required><br>

        <p>Comment:</p>
        <textarea id="text" name="text" rows="5" cols="40">{{#album.text}}{{.}}{{/album.text}}</textarea><br>

        <p>Image:</p>
        <input type="file" id="image" name="image" accept=".jpg, .jpeg" value="/album/{{album.id}}/image"><br>

        <input type="submit" value="Save" class="button">
        <a href="/album/{{album.id}}" class="button">Cancel</a>

    </form>

</body>

</html>
