<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Spoto5</title>
</head>
<body>

<div class="container">

    <h1>Spoto5</h1>
    <ul class="album-list">
        {{#albums}}
        <li class="album-item">
            <a href="/album/{{id}}"><img src="/album/{{id}}/image" alt="{{title}}"></a>
            <div class="album-info">
                <h2>{{title}}</h2>
                <h3>{{artist}}</h3>
                <p>Released in {{release_year}}</p>
            </div>
        </li>
        {{/albums}}
        {{^albums}}
        <li>No albums yet</li>
        {{/albums}}
    </ul>

    <br>

    <a href="/album/new" class="button">Add Album</a>
</div>
</body>
</html>