<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://kit.fontawesome.com/cce8b43a59.js" crossorigin="anonymous"></script>
    <title>Spoto5</title>
</head>
<body>

<div class="container">

    <h1>Spoto5</h1>


    <form class="row" action="/">
        <div class="col">
            <input name="from" type="number" class="form-control" placeholder="From year">
        </div>
        <div class="col">
            <input name="to" type="number" class="form-control" placeholder="To year">
        </div>
        <div class="col">
            <input name="artistName" type="text" class="form-control" placeholder="Artist">
        </div>
        <div class="col">
            <input class="btn btn-outline-primary" type="submit" value="Search">
        </div>
    </form>

    <ul class="album-list">
        {{#albums}}
        <li class="album-item">
            <a href="/album/{{id}}"><img src="/album/{{id}}/image" alt="{{title}}"></a>
            <div class="album-info">
                <h2>{{title}}</h2>
                <h3>{{artist}}</h3>
                <p>Released in {{release_year}}</p>
            </div>
        </li>
        {{/albums}}
        {{^albums}}
        <li>No albums yet</li>
        {{/albums}}
    </ul>

    {{#errorMessage}}
    <div class="error-message">
        {{errorMessage}}
    </div>
    {{/errorMessage}}

    <div class="button-container">
        {{^logged}}
        <a href="/login" class="button"><i class="fa-regular fa-user"></i> Login</a>
        <a href="/register" class="button"><i class="fa-solid fa-user"></i> Register</a>
        {{/logged}}
        {{#logged}}
        <a href="/user" class="button"><i class="fa-regular fa-circle-user"></i> {{currentUser}}</a>
        <form action="/logout" method="post">
            <button type="submit" class="button"><i class="fa-regular fa-user"></i> Log Out</button>
            <input type="hidden" name="_csrf" value="{{token}}">
        </form>
        <a href="/user" class="button"><i class="fa-solid fa-heart"></i></a>
        {{/logged}}

        {{#admin}}
        <a href="/newalbum" class="button">Add Album</a>
        <a href="/adminpage" class="button"><i class="fa-solid fa-users"></i> Users</a>
        {{/admin}}
    </div>
</div>
</body>
</html>
