<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Spoto5</title>
</head>
<body>

<div class="container">

    <h1>Spoto5</h1>

    <form class="row" action="/">
        <div class="col">
            <input name="from" type="number" class="form-control" placeholder="From year">
        </div>
        <div class="col">
            <input name="to" type="number" class="form-control" placeholder="To year">
        </div>
        <div class="col">
            <input class="btn btn-outline-primary" type="submit" value="Search">
        </div>

    </form>

    <ul class="album-list">
        {{#albums}}
        <li class="album-item">
            <a href="/album/{{id}}"><img src="/album/{{id}}/image" alt="{{title}}"></a>
            <div class="album-info">
                <h2>{{title}}</h2>
                <h3>{{artist}}</h3>
                <p>Released in {{release_year}}</p>
            </div>
        </li>
        {{/albums}}
        {{^albums}}
        <li>No albums yet</li>
        {{/albums}}
    </ul>

    {{#errorMessage}}
    <div class="error-message">
        {{errorMessage}}
    </div>
    {{/errorMessage}}

    <br>

    <a href="/album/new" class="button">Add Album</a>

    <a href="/users" class="button">Users</a>
</div>
</body>
</html>