<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADD ALBUM</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

    <h1>Add Album</h1>
    <form action="/album/new" method="post" enctype="multipart/form-data">

            <p>Artist:</p>
            <input type="text" name="artist">

            <p>Title:</p>
            <input type="text" name="title">

            <p>Year:</p>
            <input type="number" name="year">

            <p>Description:</p>
            <textarea name="text" rows="5" cols="40"></textarea>

            <p>Image:</p>
            <input type="file" name="image" accept=".jpg, .jpeg">

            <input type="submit" value="Save" class="button">
            <a href="/" class="button">Cancel</a>

    </form>
</div>
</body>
</html>