<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADD ALBUM</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>
<body>

<h1>Add Album</h1>

<form action="/album/new" method="post" enctype="multipart/form-data">

    <p>Artist:</p>
    <input type="text" name="artist" placeholder="Artist name" required>

    <p>Title:</p>
    <input type="text" name="title" placeholder="Album title" required>

    <p>Release Year:</p>
    <input type="number" name="release_year" placeholder="Release year (Valid year)" min="1000" max="2024" required>

    <p>Description:</p>
    <div id="editor-container" style="height: 200px;"></div>
    <input type="hidden" id="text" name="text" value="">

    <p>Image:</p>
    <input type="file" name="albumImage" accept=".jpg, .jpeg, .gif, .png" required>

    <input type="submit" value="Save" class="button">
    <a href="/" class="button">Cancel</a>

</form>

</body>

<script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.js"></script>
<script>
    var quill = new Quill('#editor-container', {
        theme: 'snow'
    });
    quill.on('text-change', function () {
        document.getElementById('text').value = quill.root.innerHTML;
    });
</script>

</html>
