<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style2.css">
    <title>{{album.title}} {{album.artist}}</title>
</head>

<body>
<div class="album-container">

    <div class="album-details">
        <h1>Album Details</h1>
        <div class="album-info">
            <p><strong>Artist:</strong> {{album.artist}}</p>
            <p><strong>Title:</strong> {{album.title}}</p>
            <p><strong>Year:</strong> {{album.release_year}}</p>
            <p><strong>Description:</strong> {{{album.text}}}</p>
        </div>
        <div class="album-image">
            <img src="/album/{{album.id}}/image" alt="Album Image">
        </div>

        <div class="album-video">
            <video width="320" height="240" controls>
                <source src="/album/{{album.id}}/video" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="album-actions">
            <a href="/album/{{album.id}}/delete" class="button delete">Delete album</a>
            <a href="/album/{{album.id}}/edit" class="button edit">Edit</a>
            <a href="/" class="button">Back</a>
        </div>
    </div>

    <p>

    <div class="comments-section">
        {{#comments}}
        <div class="comment-item">
            <div class="comment-info">
                <ul>
                    <li>
                        <strong>Username</strong>: {{username}} <br>
                        <strong>Score</strong>: {{score}} <br>
                        <strong>Review</strong>: {{text}} <br>
                        <a href="/album/{{album.id}}/delete/comment/{{id}}" class="button delete">Delete comment</a>
                    </li>
                </ul>
            </div>
        </div>
        {{/comments}}
        {{^comments}}
        <div class="no-comment">No comments yet</div>
        {{/comments}}
    </div>

    <h1>Add Comment</h1>
    <form action="/album/{{album.id}}/comment" method="post">
        <p>Username:</p>
        <input type="text" id="username" name="username" value="{{#username}}{{.}}{{/username}}" required>

        <p>Score:</p>
        <input type="number" id="score" name="score" placeholder="(0-100)" min="0" max="100" required>

        <p>Comment:</p>
        <textarea id="text" name="text" rows="5" cols="40" required></textarea>

        <button type="submit" class="button">Save</button>
    </form>

    <form action="/album/{{album.id}}/like" method="post">
        <label for="userIds">Select users to add this album to favorites:</label><br>
        <select name="userIds" id="userIds" multiple>
            {{#users}}
            <option value="{{id}}">{{userName}}</option>
            {{/users}}
        </select><br><br>
        <input type="submit" value="Me gusta">
    </form>

</div>
</body>

</html>