<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Favorite Albums</title>
    <!-- Enlaza tu archivo CSS si es necesario -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/style2.css">
</head>
<body>
<h1>{{user.userName}}'s Favorite Albums</h1>
<ul>
    {{#favoriteAlbums}}
    <li>
        <p><strong>Artist:</strong> {{artist}}</p>
        <p><strong>Title:</strong> {{title}}</p>
        <p><strong>Year:</strong> {{release_year}}</p>
        <!-- Agrega más detalles del álbum si es necesario -->
    </li>
    {{/favoriteAlbums}}
</ul>
</body>
</html>
